@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Raleway:wght@100;200;300&display=swap');

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body,
html {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #666666;

  height: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/*---------------------------------------------*/
a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input,
textarea,
label {
  display: block;
  outline: none;
  border: none;
}

/*---------------------------------------------*/
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}
